__pycache__/
*.py[cod]

venv/
.venv/
env/

.env

*.db
*.sqlite
*.sqlite3

.vscode/
.idea/

*.log

build/
dist/
.eggs/
*.egg-info/

.pytest_cache/
.coverage

instance/

.ipynb_checkpoints
.mypy_cache/

.streamlit/secrets.toml
